<nav class="navbar">

  <div class="nav-left">
    <a routerLink="/">ItemsApp</a>
    <a routerLink="/items">Items</a>

    <a routerLink="/favorites" class="favorites-link">
      ❤️ <span class="count">{{ favoritesCount$ | async }}</span>
    </a>
  </div>

  <!-- Авторизованный пользователь -->
  <div class="nav-right" *ngIf="auth.currentUser$ | async as user">
    <span class="email">{{ user.email }}</span>
    <a routerLink="/profile">Profile</a>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <!-- Не авторизован -->
  <div class="nav-right" *ngIf="!(auth.currentUser$ | async)">
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Signup</a>
  </div>

</nav>