<div class="auth-card">

  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

    <label>Email</label>
    <input type="email" formControlName="email" />

    <div class="error"
        *ngIf="email.invalid && (email.touched || email.dirty || submitted)">
      <small *ngIf="email.errors?.['required']">Email обязателен</small>
      <small *ngIf="email.errors?.['email']">Введите корректный email</small>
    </div>

    <label>Пароль</label>
    <input type="password" formControlName="password" />

    <div class="error"
        *ngIf="password.invalid && (password.touched || password.dirty || submitted)">
      <small *ngIf="password.errors?.['required']">Пароль обязателен</small>
      <small *ngIf="password.errors?.['minlength']">Минимум 8 символов</small>
    </div>

    <div class="error firebase-error" *ngIf="firebaseError">
      {{ firebaseError }}
    </div>

    <button type="submit" class="auth-btn">Войти</button>
  </form>

</div>

<p class="bottom-text">
  Нет аккаунта?
  <a routerLink="/signup">Создать новый</a>
</p>